.row{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row;

}
.div{
  padding: 5px 10px;
  text-align: center;
}
select {
    padding: 5px;
    margin-right: 10px;
    font-size: 1rem;
  }
  
  .button{
    display: flex;
    align-content: center;
    text-align: center;
    padding: 0.5px 1px;
  }
  button {
    margin: 3px;
    padding: 7px;
    font-size: 1rem;
    border: none;
    background-color: white;
    color: rgb(14, 13, 13);
    cursor: pointer;
    border-radius: 9px;    
    border: 2px solid rgb(7, 7, 7);

  }
  
  h3 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 0.9rem;
    
    color: white;
    font-family:'Times New Roman', Times, serif;

  }