.landing{
    margin: 0px;
    background-image: url("../../assets/landing.jpg");
    background-size: cover;
    background-position: center center;
    max-width: 100%;
    height: 100vh;

}
/*background-image: url ("../../assets/landing.jpg");

*/